#content {
  padding: 0 1em;
}

#mappingTable {
  margin-top: .5em;
  clear: both;
}

#mappingTable td {
  vertical-align: top;  
}

#mappingTable .fromInput {
  width: 15em;
}

#mappingTable .toInput {
  width: 35em;
}

#mappingTable .remove {
  max-width: 7em;
}

#mappingTable input {
  width: 97%;
}

.hiddenBlock {
  display: none;
  margin-top: 1em;
}

.resultsPreview {
  width: 50em;
  margin: 0 3em .5em .5em;
  float: left;
}

.resultsPreview textarea {
  width: 99%;
  padding: .5em;
}

pre, code {
  font-family: Courier, monospace;
  padding: 0;
  margin: 0;
}

div.errorDup {
  font-size: 80%;
  color: #ED2C10;
}

input.duplicated {
  background-color: #ffffcc; 
}

input.duplicate {
  background-color: #ffdddd; 
}

h3.header {
  font-size: 1.3em;
}