#content {
  padding: 0 1em;
}

#mappingTable {
  margin-top: .5em;
  clear: both;
}

#mappingTable .fromInput {
  width: 15em;
}

#mappingTable .toInput {
  width: 35em;
}

#mappingTable .remove {
  max-width: 7em;
}

#mappingTable input {
  width: 97%;
}

.hiddenBlock {
  display: none;
  margin-top: 1em;
}

.resultsPreview {
  width: 50em;
  margin: 0 3em .5em .5em;
  float: left;
}

.resultsPreview textarea {
  width: 99%;
  padding: .5em;
}

pre, code {
  font-family: Courier, monospace;
  padding: 0;
  margin: 0;
}