<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ClearCase custom data test suite">
<!-- these tests require connection to ClearCase server and custom data onto ClearCase Server -->
  <test name="ClearCase Custom Data tests">
    <classes>
      <!--class
        name="jetbrains.buildServer.vcs.clearcase.test.customdata.CCCacheTest" /-->
      <class
        name="jetbrains.buildServer.vcs.clearcase.test.customdata.CCChangesWithCacheTest" />
      <class
        name="jetbrains.buildServer.vcs.clearcase.test.customdata.CCChangesWithoutCacheTest" />
      <class
        name="jetbrains.buildServer.vcs.clearcase.test.customdata.CcLabelingRelatedTest" />
      <class
        name="jetbrains.buildServer.vcs.clearcase.test.customdata.CCPatchProviderWithCacheTest" />
      <class
        name="jetbrains.buildServer.vcs.clearcase.test.customdata.CCPatchProviderWithoutCacheTest" />
        
    </classes>
  </test>
</suite>